.invalid {
  border: 3px;
}

.searchbar {
  width: 100%;
}

@media all and (min-width: 991px) {
  .searchbar {
    width: 75%;
  }
}

@media all and (min-width: 1607px) {
  .searchbar {
    width: 50%;
  }
}
