* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover {
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.rotateOriginal {
  transition: 0.4s;
}

.rotate180 {
  transition: 0.4s;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
