.links-tag {
  color: red;
  text-decoration: underline;
}

.credit {
  width: 30%;
}

.footer-main {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(173, 173, 173)
  );
}
